@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/Zoo/zoo-module.js"></script>
<script src="~/Scripts/Zoo/Animals/animals-controller.js"></script>
<script src="~/Scripts/angular-route.min.js"></script>
<script src="~/Scripts/Directives/navbar.js"></script>

@model string

<script type="text/javascript">
    zooModule.factory("bootstrappedData", function () {
        return {
            animals: JSON.parse('@Html.Raw(Model)')
        };
    });
</script>

<div ng-app="zooModule">
    <navbar></navbar>
    <div ng-view></div>
</div>


